/* FONT-FAIMLY
*/

.raleway,
.syne,
.karla {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.raleway {
    // <weight>: Use a value from 100 to 900
    font-family: "Raleway", sans-serif !important;
}

.syne {
    // <weight>: Use a value from 400 to 800
    font-family: "Syne", sans-serif !important;
}

.karla {
    // <weight>: Use a value from 200 to 800
    font-family: "Karla", sans-serif !important;
}