::-webkit-scrollbar {
    display: none;
}

.customScrollbarContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: max-content;
    z-index: 999;
    background-color: $themeDark;
    .customScrollbar {
        width: 4px;
        height: 0px;
        background: $theme;
    }
}