/* VARIABLES
*/

$white: #FFFFFF;
$skin: #F2F2F2;
$gray: rgb(195, 195, 195);
$lightGray: rgb(226, 226, 226);
$theme: #C32865;
$darkOrange: rgb(255, 60, 0);
$theme2: orange;
$fadeWhite: rgba(255, 255, 255, 0.049);
$LightWhite: rgba(255, 255, 255, 0.35);
$themeDark: #242424;
$Resume_overlay: rgba(0, 0, 0, 0.481);
$fakeWhite: #F6F5F8;
$opacityWhite: #efefefd4;