@media screen and (max-width:1170px) {
    .BackToTop__Btn {
        right: 25px;
        bottom: 50px;
    }
}

@media screen and (max-width:700px) {
    .BackToTop__Btn {
        right: 15px;
        bottom: 30px;
    }
}