/* VARIABLES
*/
/* FONT-FAIMLY
*/
.raleway,
.syne,
.karla {
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif !important;
}

.syne {
  font-family: "Syne", sans-serif !important;
}

.karla {
  font-family: "Karla", sans-serif !important;
}

::-webkit-scrollbar {
  display: none;
}

.customScrollbarContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: -moz-max-content;
  width: max-content;
  z-index: 999;
  background-color: #242424;
}
.customScrollbarContainer .customScrollbar {
  width: 4px;
  height: 0px;
  background: #C32865;
}

.preloader__Script {
  opacity: 0 !important;
  visibility: hidden !important;
}

.preloader {
  transition: 0.5s ease;
  width: 100%;
  height: 100vh;
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: grid;
  place-items: center;
}
.preloader p {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.startup {
  visibility: visible;
  width: 100%;
  height: 100vh;
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
  animation: startup 0.5s ease forwards;
  animation-delay: 4s;
}
.startup .content {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.startup .content .spanWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  color: white;
  transition: ease 0.4s 1.5s;
  animation: spanWrap 0.5s ease forwards;
  animation-delay: 2s;
}
.startup .content .spanWrap .span {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 300;
  padding: 0 7px;
  transform: translateY(50px);
  opacity: 0;
}
.startup .content .spanWrap .span1 {
  animation: span1 0.5s ease forwards;
  animation-delay: 0.5s;
}
.startup .content .spanWrap .span2 {
  animation: span2 0.5s ease forwards;
  animation-delay: 1s;
}
.startup .content .spanWrap .span3 {
  animation: span3 0.5s ease forwards;
  animation-delay: 1.5s;
}
.startup .content .textBoxWrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  animation: textBoxWrap 0.5s forwards;
  animation-delay: 3.5s;
}
.startup .content .textBoxWrap .textBoxWrapInner {
  position: relative;
  width: 200px;
  height: 50px;
  opacity: 0;
  animation: textBoxWrapInner 0.2s forwards;
  animation-delay: 2.5s;
}
.startup .content .textBoxWrap .textBoxWrapInner .textBoxWrapInner__after {
  width: 0;
  height: 100%;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  animation: textBoxWrapInner__after 1s ease;
  animation-delay: 2.5s;
}
.startup .content .textBoxWrap .textBoxWrapInner .authorText {
  text-transform: capitalize;
  font-size: 21px;
  font-weight: 600;
  color: black;
  font-style: italic;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50%);
  animation: authorText 0.5s forwards;
  animation-delay: 3s;
}

@keyframes span1 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes span2 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes span3 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes spanWrap {
  0% {
    transform: translateX(-50%);
    opacity: 100;
  }
  100% {
    transform: translateX(-50%) translateY(-50px);
    opacity: 0;
  }
}
@keyframes preloaderYellowBox {
  0% {
    width: 0px;
  }
  50% {
    width: 200px;
    transform: translateX(20px);
  }
  100% {
    width: 0px;
    transform: translateX(-20px);
  }
}
@keyframes textBoxWrapInner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes textBoxWrapInner__after {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes authorText {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}
@keyframes textBoxWrap {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 100;
  }
  100% {
    transform: translateX(-50%) translateY(-50px);
    opacity: 0;
  }
}
@keyframes startup {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 600px) {
  .startup .content .spanWrap {
    flex-direction: column;
  }
  .startup .content .spanWrap .span {
    font-size: 21px;
    font-weight: 400;
    padding: 7px;
  }
  .startup .content .textBoxWrap .textBoxWrapInner {
    width: 176px;
    height: 45px;
  }
  .startup .content .textBoxWrap .textBoxWrapInner .authorText {
    font-size: 18px;
  }
}
.BackToTop__Btn__Script {
  visibility: visible !important;
  opacity: 100 !important;
  transform: translateY(0) !important;
}

.BackToTop__Btn {
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.4s ease-out;
  position: fixed;
  z-index: 500;
  right: 50px;
  bottom: 50px;
  text-align: center;
}
.BackToTop__Btn a {
  transition: 0.3s ease;
}
.BackToTop__Btn a span {
  font-size: 23px;
  background-color: rgba(255, 255, 255, 0.788);
  padding: 7px;
  border-radius: 100%;
  color: black;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.299);
}
.BackToTop__Btn a:hover {
  transform: scale(1.2);
}

.FloatWindowContainer__Script {
  visibility: visible !important;
  opacity: 100 !important;
  pointer-events: all !important;
}

.FloatWindowContainer {
  visibility: hidden;
  opacity: 0;
  transition: ease 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #242424;
  z-index: 100;
  pointer-events: none;
}
.FloatWindowContainer .FloatWindow__outter {
  position: relative;
  width: 100%;
  height: 100%;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow__Script {
  transform: translateY(0) !important;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow {
  transform: translateY(-100%);
  background-color: #242424;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  transition: 0.3s ease;
  overflow: hidden;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow .text p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow .icon {
  position: relative;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow .icon .icon_inner {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #C32865;
  width: -moz-max-content;
  width: max-content;
  height: calc(100% + 50px);
  display: flex;
  align-items: center;
  transform: rotate(-30deg) translateY(-30px);
  padding: 0 4px;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow .icon .icon_inner span {
  color: white;
  font-size: 22px;
  font-weight: 500;
  transform: rotate(30deg);
  transition: 0.3s ease-in;
  pointer-events: none;
}
.FloatWindowContainer .FloatWindow__outter .closeFloatWindow .icon .icon_inner:hover span {
  transform: rotate(120deg);
}
.FloatWindowContainer .FloatWindow__outter .FloatWindow {
  width: 100%;
  height: 100%;
}

/* _____ ______ _____ Personal Video _____ ______ _______
*/
.personalVideo__container__Script {
  display: block !important;
}

.personalVideo__container {
  position: relative;
  width: 100%;
  display: none;
}
.personalVideo__container .personalVideo__placeHolder__Script {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
.personalVideo__container .personalVideo__placeHolder {
  transition: 0.3s ease;
  opacity: 100;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
}
.personalVideo__container .personalVideo__iframeWrap__Script {
  opacity: 100 !important;
  visibility: visible !important;
}
.personalVideo__container .personalVideo__iframeWrap {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.personalVideo__container .personalVideo__iframeWrap .personalVideo__iframe {
  width: 100%;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  border: none;
  outline: none;
}

/* _____ ______ _____ Hire-Me container _____ ______ _______
*/
.HireMe__container__Script {
  display: block !important;
}

.HireMe__container {
  display: none;
  background-color: #242424;
  color: white;
  padding: 50px 0;
}
.HireMe__container .HireMe__container__inner__Script {
  opacity: 100 !important;
}
.HireMe__container .HireMe__container__inner {
  opacity: 0;
}
.HireMe__container .HireMe__container__inner .HireMe__heading {
  max-width: 700px;
  margin: auto;
}
.HireMe__container .HireMe__container__inner .HireMe__heading .text1 {
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
}
.HireMe__container .HireMe__container__inner .HireMe__heading .text2 {
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.6;
  padding: 25px 0;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox {
  padding: 0 50px;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox input {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.5px solid white;
  color: white;
  font-size: 18px;
  font-family: raleway;
  padding-left: 5px;
  font-weight: 200;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox input::-moz-placeholder {
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  font-weight: 100;
  font-family: raleway;
  padding-left: 5px;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox input::placeholder {
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  font-weight: 100;
  font-family: raleway;
  padding-left: 5px;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.5px solid white;
  color: white;
  font-size: 18px;
  font-family: raleway;
  font-weight: 200;
  padding-left: 5px;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox textarea::-moz-placeholder {
  text-transform: capitalize;
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-family: raleway;
  padding-left: 5px;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox textarea::placeholder {
  text-transform: capitalize;
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-family: raleway;
  padding-left: 5px;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox .submitBtn {
  cursor: pointer;
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 50px;
  font-family: raleway;
  border: none;
  outline: none;
  border: 1px solid black;
  transition: 0.3s ease;
  margin: 20px 0;
}
.HireMe__container .HireMe__container__inner .HireMe__formBox .submitBtn:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

/* _____ ______ _____ Make a Review Section _____ ______ _______
*/
.MakeReviewContainer__Script {
  display: block !important;
}

.MakeReviewContainer {
  width: 100%;
  background-color: #242424;
  display: none;
  max-width: 1170px;
  margin: auto;
  padding: 0 25px;
}
.MakeReviewContainer .MakeReviewContainer__Inner__Script {
  opacity: 100 !important;
  visibility: visible !important;
}
.MakeReviewContainer .MakeReviewContainer__Inner {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  padding: 45px 0;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__heading p {
  font-size: 25px;
  font-weight: 300;
  color: white;
  text-transform: capitalize;
  padding-bottom: 30px;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form input,
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form button {
  display: block;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  height: 40px;
  margin-top: 30px;
  font-size: 17px;
  color: white;
  padding-left: 5px;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form input::-moz-placeholder {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  font-family: syne;
  padding-left: 5px;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  font-family: syne;
  padding-left: 5px;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form textarea {
  padding-left: 5px;
  color: white;
  width: 100%;
  height: 150px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid white;
  resize: none;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form textarea::-moz-placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  font-family: syne;
  padding-left: 5px;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form textarea::placeholder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  font-family: syne;
  padding-left: 5px;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form .ReviewAdd_Btn {
  cursor: pointer;
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 50px;
  font-family: raleway;
  border: none;
  outline: none;
  border: 1px solid black;
  transition: 0.3s ease;
  margin: 20px 0;
}
.MakeReviewContainer .MakeReviewContainer__Inner .MakeReviewContainer__form .ReviewAdd_Btn:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax-hero > .jarallax-img,
picture.jarallax-img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.jarallax-hero {
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
}

.header__innerContainer {
  color: #FFFFFF;
  height: 150px;
  transition: 0.3s ease;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  transition: 0.4s ease;
}
.header__nav .logo a {
  display: flex;
  align-items: center;
}
.header__nav .logo a img {
  width: 90px;
}
.header__nav .navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header__nav .navigation .contactAncors {
  padding-left: 150px;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
}
.header__nav .navigation .contactAncors a {
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: 300;
  transition: ease 0.3s;
  position: relative;
}
.header__nav .navigation .contactAncors a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease;
  background-color: white;
  background-color: #FFFFFF;
  width: 0;
  height: 0.5px;
}
.header__nav .navigation .contactAncors a:hover::after {
  width: 100%;
}
.header__nav .navigation .contactAncors a br {
  display: none;
}
.header__nav .navigation .contactAncors span {
  padding: 0 7px;
  font-weight: 300;
  color: rgb(195, 195, 195);
}
.header__nav .navigation .contactAncors .slash_span {
  width: 1px;
  height: 35px;
  background-color: white;
  background-color: rgb(195, 195, 195);
  margin: 0 20px;
}
.header__nav .navigation .navigationAnimation__container {
  display: flex;
  align-items: center;
}
.header__nav .navigation .navigationAnimation__container .links__container {
  position: relative;
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li a {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  color: white;
  padding: 5px 18px;
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li a span {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: 0.3s ease;
  display: inline-block;
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li a::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #C32865;
  background-color: orange;
  transition: 0.4s ease;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scale(0);
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li a:hover::after {
  transform: translateX(-50%) scale(1);
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li a:hover span {
  transform: translateY(-7px);
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li .hdrNav__Ancor_Script::after {
  transform: translateX(-50%) scale(1);
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li .hdrNav__Ancor_Script span {
  transform: translateY(-7px);
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li:nth-child(1),
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li:nth-child(2) {
  transition: transform 0.32s 0.4s ease-out;
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li:nth-child(3),
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li:nth-child(4) {
  transition: transform 0.32s 0.45s ease-out;
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li:nth-child(5),
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul li:nth-child(6) {
  transition: transform 0.32s 0.5s ease-out;
}
.header__nav .navigation .navigationAnimation__container .links__container .Links_Ul__responsive {
  display: none;
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler {
  cursor: pointer;
  height: 25px;
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler .togglerLinesWrap {
  width: 30px;
  height: 18px;
  transition: 0.4s ease;
  position: relative;
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler .togglerLinesWrap .togglerMenuLine {
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  right: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler .togglerLinesWrap .togglerMenuLine1 {
  top: 0;
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler .togglerLinesWrap .togglerMenuLine2 {
  top: 50%;
  transform: translateY(-50%);
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler .togglerLinesWrap .togglerMenuLine3 {
  width: calc(100% - 12px);
  top: 100%;
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}
.header__nav .navigation .navigationAnimation__container .navigationAnimation__toggler .togglePlay {
  display: none;
}
.header__nav .navigation .navigationAnimation__toggler__SCRIPT .togglerLinesWrap {
  transform: translateY(50%);
}
.header__nav .navigation .navigationAnimation__toggler__SCRIPT .togglerLinesWrap .togglerMenuLine1 {
  transform: rotate(-45deg) !important;
}
.header__nav .navigation .navigationAnimation__toggler__SCRIPT .togglerLinesWrap .togglerMenuLine2 {
  transform: translateY(-9px) rotate(45deg) !important;
}
.header__nav .navigation .navigationAnimation__toggler__SCRIPT .togglerLinesWrap .togglerMenuLine3 {
  transform: translateY(-12px) rotate(45deg) !important;
  opacity: 0;
}

.header__nav__Script .navigation .contactAncors {
  transform: translateY(-30px);
  opacity: 0;
}
.header__nav__Script .navigation .Links_Ul {
  opacity: 100 !important;
  visibility: visible !important;
  transform: translateY(-50%) translateX(-150px) !important;
}
.header__nav__Script .navigation .Links_Ul li {
  transform: translateX(12px) !important;
}

.fixedNavBar {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.4s cubic-bezier(0.17, 0.67, 0.68, 0.73);
  background-color: #242424;
}

.fixedNavBar__Script {
  opacity: 100;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}

.staticNavBar__Script {
  opacity: 0;
  visibility: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 100;
}

html,
body {
  overflow-x: hidden;
}

.bodyScript {
  pointer-events: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

#Hero {
  color: #FFFFFF;
}
#Hero .Hero__container {
  padding: 0;
  max-width: 1170px;
}
#Hero .Hero__container .hero__row {
  padding-bottom: 100px;
  max-width: 1170px;
}
#Hero .Hero__container .hero__row .hero__col__1 {
  padding: 0;
}
#Hero .Hero__container .hero__row .hero__col__1 .hero__col__1_contactAncors {
  display: none;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent {
  padding: 70px 0 0 120px;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent h1 {
  text-transform: capitalize;
  font-size: 80px;
  font-weight: 500;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent h1 .themeColorText {
  color: #C32865;
  font-weight: 500;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent h1 .textAnimationContainer {
  height: 100px;
  padding-right: 15px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent h1 .textAnimationContainer .caret {
  width: 6px;
  height: 81px;
  background-color: white;
  background-color: #C32865;
  background-color: orange;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  animation: caret-blink 1s infinite;
}
@keyframes caret-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent h1 .textAnimationContainer .AnimateTextInThisElement {
  font-weight: 500;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__textContent h2 {
  font-size: 21px;
  color: #FFFFFF;
  padding: 7px 0;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_before {
  width: 100px;
  height: 1px;
  background-color: white;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container:hover .videoIcon {
  border-color: #C32865;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container:hover .videoIcon span {
  color: #C32865;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container:hover .iconText {
  color: #C32865;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container .videoIcon {
  transition: ease 0.3s;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  margin: 0 23px;
  display: grid;
  place-items: center;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container .videoIcon span {
  font-size: 25px;
  transition: ease 0.3s;
}
#Hero .Hero__container .hero__row .hero__col__1 .col_1__videoToggler .videoIcon_Container .iconText {
  text-transform: capitalize;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 19px;
  transition: ease 0.3s;
  padding-right: 20px;
}

#About .About__content {
  color: white;
}
#About .About__content .About__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 100px 0;
}
#About .About__content .About__container .experienceBox__wrap {
  display: flex;
}
#About .About__content .About__container .experienceBox__wrap .AboutText {
  height: 100%;
  width: 150px;
  position: relative;
}
#About .About__content .About__container .experienceBox__wrap .AboutText p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-max-content;
  width: max-content;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.049);
  text-transform: uppercase;
}
#About .About__content .About__container .experienceBox__wrap .experienceBox {
  padding: 50px 50px 50px 100px;
  border: 1px solid #FFFFFF;
  display: grid;
  align-content: center;
}
#About .About__content .About__container .experienceBox__wrap .experienceBox .number {
  text-align: center;
  font-size: 300px;
  font-weight: 600;
  height: -moz-max-content;
  height: max-content;
}
#About .About__content .About__container .experienceBox__wrap .experienceBox .text {
  text-align: right;
  padding-top: 30px;
  text-transform: capitalize;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
}
#About .About__content .About__container .experienceBox__wrap .experienceBox .text span {
  position: relative;
}
#About .About__content .About__container .experienceBox__wrap .experienceBox .text span::before {
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  background-color: #FFFFFF;
  width: 70px;
  height: 1px;
  content: "";
}
#About .About__content .About__container .contentBox {
  padding: 0 30px;
}
#About .About__content .About__container .contentBox .heading h3 {
  font-size: 46px;
  font-weight: 600;
}
#About .About__content .About__container .contentBox .heading h3 span {
  font-size: 46px;
  font-weight: 600;
  color: #C32865;
}
#About .About__content .About__container .contentBox .summary__skillBar__container {
  max-width: 550px;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .summary {
  color: rgba(255, 255, 255, 0.35);
  padding-top: 50px;
  line-height: 1.7;
  font-weight: 100;
  text-transform: capitalize;
  font-size: 16px;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .Bars__container {
  padding-top: 50px;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .Bars__container .NewBar__wrap {
  padding-bottom: 35px;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .Bars__container .NewBar__wrap .bar__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .Bars__container .NewBar__wrap .bar__text p {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .Bars__container .NewBar__wrap .bar {
  width: 100%;
  height: 40px;
  background-color: #242424;
  margin-top: 12px;
}
#About .About__content .About__container .contentBox .summary__skillBar__container .Bars__container .NewBar__wrap .bar .bar__percent {
  width: 98%;
  height: 100%;
  background-color: #C32865;
}

#Resume .resume__background {
  background-image: url(../../images/resume.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
}
#Resume .resume__background .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.307);
  padding: 100px 0 200px 0;
}
#Resume .resume__background .resume__heading {
  text-transform: capitalize;
  color: #FFFFFF;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
#Resume .resume__background .resume__heading p {
  color: #C32865;
  font-size: 20px;
  font-weight: 500;
  font-style: oblique;
  letter-spacing: 1.5px;
}
#Resume .resume__background .resume__heading h4 {
  font-size: 33px;
  font-weight: 600;
  font-style: oblique;
}
#Resume .resume__background .education_experience_container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}
#Resume .resume__background .education_experience_container .experience_box {
  transform: translateY(120px);
}
#Resume .resume__background .education_experience_container .education_experience_box {
  background-color: rgba(255, 255, 255, 0.236);
  transition: 0.4s ease;
  padding: 0 40px 50px 40px;
}
#Resume .resume__background .education_experience_container .education_experience_box:hover {
  background-color: #C32865;
}
#Resume .resume__background .education_experience_container .education_experience_box > h5 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  transform: translateY(-55%);
}
#Resume .resume__background .education_experience_container .education_experience_box .specialization {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 30px 0;
}
#Resume .resume__background .education_experience_container .education_experience_box .university,
#Resume .resume__background .education_experience_container .education_experience_box .date {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-style: oblique;
  padding-bottom: 7px;
}
#Resume .resume__background .education_experience_container .education_experience_box .description {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.7;
  padding: 25px 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #FFFFFF;
}

.contactDetail__skillBox__section {
  background-color: #F6F5F8;
  width: 100%;
  color: black;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 100px 0;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__ContactDetal > h4 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 21px;
  padding-bottom: 30px;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__ContactDetal > p {
  font-size: 17px;
  font-weight: 100;
  line-height: 1.6;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__ContactDetal > p > span {
  font-weight: 600;
  font-size: 20px;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__ContactDetal ul {
  padding-top: 50px;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__ContactDetal ul li {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.087);
  border-bottom: 1px solid rgba(0, 0, 0, 0.087);
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__ContactDetal ul li span {
  width: 130px;
  display: inline-block;
  font-weight: 600;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox {
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox {
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
  padding: 30px 18px;
  max-width: 250px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.056);
  color: black;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox::before, .contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.096);
  position: absolute;
  border-radius: 100%;
  top: 0;
  right: 0;
  transition: ease 0.35s;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox::before {
  transform: translate(20%, -30%);
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox::after {
  transform: translate(50%, 20%);
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox:hover::before {
  transform: translate(10%, -40%);
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox:hover::after {
  transform: translate(60%, 30%);
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox .skillBox__percentAnim {
  width: 70px;
  margin: auto;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox .skillBox__percentAnim .skillBox__percentAnim__img {
  width: 100%;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox .skillName {
  font-weight: 600;
  font-size: 21px;
  text-transform: capitalize;
  padding: 12px 0;
}
.contactDetail__skillBox__section .contactDetail__skillBox__container .Resume__skillBox .skillBox .skillDesciption {
  font-weight: 100;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 1.5;
}
.contactDetail__skillBox__section .Resume__download__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.contactDetail__skillBox__section .Resume__download__btn a {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  text-transform: capitalize;
  padding: 10px 40px;
  background-color: black;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid black;
  transition: 0.3s ease;
}
.contactDetail__skillBox__section .Resume__download__btn a span {
  padding-right: 5px;
  font-size: 19px;
}
.contactDetail__skillBox__section .Resume__download__btn a::after {
  content: "";
  position: absolute;
  width: 100%;
  width: 0;
  height: 1.1px;
  background-color: black;
  bottom: -12px;
  left: -30%;
  transform: translateX(50%);
  transition: 0.4s ease;
}
.contactDetail__skillBox__section .Resume__download__btn a:hover::after {
  width: 100%;
}
.contactDetail__skillBox__section .Resume__download__btn a:hover {
  background-color: transparent;
  color: black;
}

#works {
  color: black;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../../images/project1.jpg);
}
#works .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.831372549);
  padding: 100px 0;
}
#works .overlay .floatingSectionPathNameText {
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#works .overlay .floatingSectionPathNameText .anim {
  width: 50px;
  height: 1px;
  background-color: black;
}
#works .overlay .floatingSectionPathNameText p {
  padding-left: 7px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#works .overlay .floatingSectionPathNameText p strong {
  font-weight: 600;
}
#works .overlay .floatingSectionPathNameText p span {
  font-weight: 600;
  padding: 0 15px;
}
#works .overlay .heading__slice h4 {
  font-size: 60px;
  font-weight: 200;
}
#works .overlay .heading__slice h4 span {
  font-weight: 500;
}
#works .overlay .heading__slice .ourWorks__btn {
  display: flex;
  align-items: center;
  padding: 50px 0 100px 0;
}
#works .overlay .heading__slice .ourWorks__btn p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}
#works .overlay .heading__slice .ourWorks__btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(117, 117, 117, 0.261);
  margin: 0 15px;
  border-radius: 100%;
  transition: 0.4s ease;
  cursor: pointer;
}
#works .overlay .heading__slice .ourWorks__btn .icon:hover {
  transform: scale(1.13);
}
#works .overlay .heading__slice .ourWorks__btn .icon span {
  font-size: 18px;
  color: black;
}
#works .overlay .content__slice .works__conainer {
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#works .overlay .content__slice .works__conainer .work__box__wrap {
  width: 100%;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box {
  color: black;
  width: 100%;
  overflow: hidden;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box:hover .work__box_img {
  transform: scale(1.05);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box:hover .workBoxImg_6 {
  transform: none;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_1 {
  background-image: url(../images/works/img8.png);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_2 {
  background-image: url(../images/works/img3.png);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_3 {
  background-image: url(../images/works/img4.png);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_4 {
  background-image: url(../images/works/img5.png);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_5 {
  background-image: url(../images/works/img1.jpg);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6 {
  display: flex;
  align-items: center;
  background-color: rgba(249, 242, 233, 0.931);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6:hover .seeAllBtn p::after {
  width: calc(100% - 10px);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6:hover .seeAllBtn .fa-arrow-up-right-from-square {
  transform: rotate(0);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6 .seeAllBtn {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6 .seeAllBtn p {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  padding: 0 10px 0 0;
  letter-spacing: 0;
  position: relative;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6 .seeAllBtn p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -40%;
  transform: translateX(50%);
  width: 0;
  background-color: black;
  height: 1px;
  transition: 0.4s ease;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .workBoxImg_6 .seeAllBtn .fa-arrow-up-right-from-square {
  font-size: 16px;
  transform: rotate(50deg);
  transition: 0.4s ease;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box .work__box_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  transition: 0.6s ease;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box p {
  padding: 20px 0 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box p span {
  font-weight: 600;
  color: rgb(255, 60, 0);
}
#works .overlay .content__slice .works__conainer .work__box__wrap .work__box h4 {
  font-size: 26px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
}

#Reviews .Reviews__bg {
  background-color: rgb(226, 226, 226);
  padding: 100px 0;
}
#Reviews .Reviews__bg .text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#Reviews .Reviews__bg .text p {
  text-align: right;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding-right: 15px;
  text-transform: lowercase;
}
#Reviews .Reviews__bg .text p::first-letter {
  text-transform: capitalize;
}
#Reviews .Reviews__bg .text .anim {
  width: 100px;
  height: 1px;
  background-color: black;
}
#Reviews .Reviews__bg .heading {
  width: 100%;
  padding-top: 70px;
}
#Reviews .Reviews__bg .heading h5 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 200;
}
#Reviews .Reviews__bg .heading h5 span {
  font-weight: 600;
}
#Reviews .Reviews__bg .content {
  padding-top: 120px;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide:nth-child(odd) {
  transform: translateY(-50%);
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide {
  padding: 0 2.5px;
  cursor: pointer;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide .bulletFocusAnimation__Script {
  border-color: orange !important;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide .bulletFocusAnimation {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 4px solid transparent;
  padding: 4.5px;
  transition: 0.3s ease;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide .bulletFocusAnimation .bulletHoverAnimation {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  outline: 9px solid transparent;
  outline: 9px solid transparent;
  transition: 0.3s ease;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide .bulletFocusAnimation .bulletHoverAnimation .bulletImg {
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide .bulletFocusAnimation .bulletHoverAnimation .bulletImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#Reviews .Reviews__bg .content .ReviewsSwiper__CutomBullets__container .swiper1 .swiper-slide .bulletFocusAnimation .bulletHoverAnimation:hover {
  outline: 9px solid rgba(255, 255, 255, 0.307);
}
#Reviews .Reviews__bg .content .swiper2 {
  width: 100%;
  overflow: hidden;
}
#Reviews .Reviews__bg .content .swiper2 .svg {
  width: 100%;
  text-align: center;
  padding: 50px 0 20px 0;
}
#Reviews .Reviews__bg .content .swiper2 .svg .quote-icon {
  width: 42px;
  height: 42px;
  fill: orange;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-button-prev-SCRIPT,
#Reviews .Reviews__bg .content .swiper2 .swiper-button-next-SCRIPT {
  opacity: 40%;
  pointer-events: none;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-button-next,
#Reviews .Reviews__bg .content .swiper2 .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: rgb(195, 195, 195);
  color: black;
  border-radius: 100%;
  transition: 0.5s ease;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-button-next::after,
#Reviews .Reviews__bg .content .swiper2 .swiper-button-prev::after {
  content: "";
}
#Reviews .Reviews__bg .content .swiper2 .swiper-button-next span,
#Reviews .Reviews__bg .content .swiper2 .swiper-button-prev span {
  font-size: 20px;
  transition: 0.3s ease;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-button-next:hover span,
#Reviews .Reviews__bg .content .swiper2 .swiper-button-prev:hover span {
  font-size: 25px;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-button-next span {
  transform: rotate(180deg);
}
#Reviews .Reviews__bg .content .swiper2 .swiper-slide {
  text-align: center;
  padding: 0 30px;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-slide .clientName {
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-slide .date {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 0;
}
#Reviews .Reviews__bg .content .swiper2 .swiper-slide .reviewText {
  font-size: 21px;
  font-weight: 300;
  line-height: 2;
  color: rgba(96, 96, 96, 0.837);
  max-width: 550px;
  margin: auto;
  padding-top: 18px;
}

.jumpToContact__Section {
  background-color: rgb(226, 226, 226);
  color: black;
  padding: 100px 0;
}
.jumpToContact__Section .jumpToContact__headText__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.jumpToContact__Section .jumpToContact__headText__container .headText {
  text-align: right;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  text-transform: lowercase;
  padding-right: 15px;
}
.jumpToContact__Section .jumpToContact__headText__container .headText__sudo {
  width: 120px;
  height: 0.5px;
  background-color: black;
}
.jumpToContact__Section main {
  text-align: center;
}
.jumpToContact__Section main .heading {
  padding-top: 100px;
}
.jumpToContact__Section main .heading h5 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 200;
}
.jumpToContact__Section main .heading h5 span {
  font-weight: 700;
}
.jumpToContact__Section main .heading h5 .br1 {
  display: none;
}
.jumpToContact__Section main .jumpToContact__button {
  padding-top: 100px;
}
.jumpToContact__Section main .jumpToContact__button a {
  color: black;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: 0.3s linear;
  padding: 20px 40px;
  border-radius: 40px;
  background-color: orange;
}
.jumpToContact__Section main .jumpToContact__button a p {
  text-transform: uppercase;
  padding-right: 20px;
  font-weight: 500;
}
.jumpToContact__Section main .jumpToContact__button a span {
  color: orange;
  background-color: black;
  border-radius: 100%;
  padding: 10px;
  font-size: 16px;
  transition: 0.4s ease;
}
.jumpToContact__Section main .jumpToContact__button a:hover span {
  transform: rotate(90deg) scale(1.2);
}
.jumpToContact__Section main .jumpToContact__button a:hover {
  background-color: rgb(226, 226, 226);
}

.footer {
  background-color: black;
  color: white;
  padding: 100px 0;
}
.footer .footer__mainRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer .footer__mainRow .footerMainRow__col__1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .logo {
  width: 100px;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .logo img {
  width: 100%;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 p {
  padding: 30px 0;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 200;
  font-style: italic;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form {
  background-color: #242424;
  width: 100%;
  border-radius: 40px;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form {
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form:hover {
  background-color: white;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form:hover input {
  color: black;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form:hover input::-moz-placeholder {
  color: black;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form:hover input::placeholder {
  color: black;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form input {
  flex: 1;
  height: 40px;
  background-color: transparent;
  padding-left: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.35);
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form input::-moz-placeholder {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.35);
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form input::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.35);
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form button {
  border: none;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  background-color: orange;
  color: black;
  transition: 0.4s ease;
  cursor: pointer;
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form button span {
  font-size: 25px;
  transform: translateY(2px);
}
.footer .footer__mainRow .footerMainRow__col__1 .box1 .form form button:hover {
  transform: scale(1.2) rotate(-40deg);
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 {
  padding-top: 50px;
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .social__icons {
  display: flex;
  align-items: center;
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .social__icons a {
  font-size: 21px;
  color: white;
  transition: 0.3s ease;
  text-align: center;
  width: 40px;
  height: 30px;
  border-bottom: 1px solid transparent;
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .social__icons a .icon {
  transition: 0.2s ease;
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .social__icons a:hover {
  border-color: white;
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .social__icons a:hover .icon {
  transform: translateY(-7px);
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .copyRight__stamp {
  padding-top: 70px;
}
.footer .footer__mainRow .footerMainRow__col__1 .box2 .copyRight__stamp p {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.35);
}
.footer .footer__mainRow .footerMainRow__col__2 {
  display: flex;
  justify-content: center;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap ul li .footer__Contact_ancor {
  padding-left: 12px !important;
  color: orange !important;
  position: relative;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap ul li .footer__Contact_ancor::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap ul li a {
  padding: 9px 0;
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 600;
  transition: 0.4s ease;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap ul li a:hover {
  padding-left: 12px;
  color: orange;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap h5 {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 120px 0 30px 0;
}
.footer .footer__mainRow .footerMainRow__col__2 .navigations__location__wrap p {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  line-height: 1.5;
}
.footer .footer__mainRow .footerMainRow__col__3 {
  display: flex;
  justify-content: right;
}
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
}
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .navigations ul li,
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .navigations ul li a {
  cursor: pointer;
  padding: 7px 0;
  font-weight: 200;
  font-size: 15px;
  text-transform: capitalize;
  transition: 0.3s ease;
  width: -moz-max-content;
  width: max-content;
  color: rgba(255, 255, 255, 0.35);
}
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .navigations ul li:hover,
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .navigations ul li a:hover {
  padding-left: 7px;
  color: white;
}
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .navigations ul .mapLocationAncor,
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .navigations ul .repoSourceAncor {
  padding: 0;
}
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .location h5 {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 120px 0 30px 0;
}
.footer .footer__mainRow .footerMainRow__col__3 .navigations__location__wrap .location p {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */